---
layout: default
title: Home
---
<h3 class="category-header">About</h3>
{{ site.about.description}}

<br />
<br />
Here are some of the things I find interesting:
<ul>
{% for interest in site.about.interests %}
  <li>{{ interest.name }}{% if interest.link %} - <a href="{{ interest.link }}">{{ interest.link}}</a> {% endif %}</li>
{% endfor %}  
</ul>


<br />

<h3 class="category-header">Recent Posts</h3>
{% for post in site.posts limit:10 %}
{% if post.hidden == null or post.hidden == false %}
<span class="post-item"><span class="mobile-hide">{{ post.date | date: '%Y-%m-%d' }}</span> <a href="{{ post.url }}">{{ post.title }}</a><span class="mobile-hide float-right" style="text-transform:capitalize;">{{ post.categories | first | replace: '-', ' ' }}</span></span>
{% endif %}
{% endfor %}
