{% if site.social_media %}
    <div class="float-right">
    {% for account in site.social_media %}
        <div class="float-left social_media">
        {% assign service_shortname = account[0] %}
        {% assign service = site.data.social_media[service_shortname] %}
        <a href="{{ service.profile_url_prefix }}{{ account[1] }}" aria-label="{{ service.name }}: {{ account[1] }}">
            {{ service.icon_svg }}
        </a>
        </div>
    {% endfor %}
    </div>
{% endif %}
<div class="clearfix"></div>